@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/static/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/static/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/static/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
}

:root {
  --white: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, p{
    padding:0;
    margin:0;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  /* line-height: 1.5; */
  background-color: var(--Light-pink); 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: center; 
 background-image: url("./assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
 
}

section{
    padding:1.2rem 1rem;   
    width: 320px;     
    /* height: 100%; */
    max-width: 600px; 
    background-color: var(--white);
    margin-top: 7rem;   
    border-radius: 10px; 
   box-shadow: 0px 10px 60px hsla(292, 16%, 49%, 0.3);
}

.header{
    display: flex; 
    align-items: center; 
    gap: 1rem; 
    font-weight: 700; 
}

.header img{
    width: 20px;   
}

.header h1{
    color: var( --Dark-purple);   
}

.accordion:not(:last-of-type){
    border-bottom: 1.5px solid var(--Light-pink); 
    padding-block: 1rem;   
}

.accordion:last-of-type{
    padding-top: 1rem; 
}


.accordion-header{
    font-size: 1rem; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.accordion-header h2{ 
    font-size: 1rem; 
    color: var(--Dark-purple);
    font-weight: 600;
}

.accordion-header img{
    width: 25px;  
}

.accordion-body{
    font-size: 0.8rem; 
    margin-top: 1rem;   
    line-height: 1.5; 
    color: var(--Grayish-purple);
    display: none;  
}

.attribution {
    padding-top: 1rem; 
  font-size: 0.8rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
