body {
  background-color: $body-bg-color;
}

header {
    .logo{
        width: 50px;

    }
  nav {
    .navbar-toggler {
      border: none; // Remove borders
    }

    .navbar-toggler-icon {
      background-image: url("/assets/images/icon-menu.svg");
      width: 30px;
      height: 30px;
    }
  }
}
