$navbar-light-color: hsl(36, 100%, 99%);
$navbar-link-color:hsl(236, 13%, 42%);
$navbar-link-hover-color: hsl(5, 85%, 63%);
$btn-color:hsl(36, 100%, 99%);
$btn-bg-color: hsl(5, 85%, 63%);
$btn-hover-bg-color: hsl(240, 100%, 5%);
$btn-hover-color: hsl(36, 100%, 99%);
