@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap");

:root {
  /* primary  */
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);

  /* neutral */
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  padding: 1rem;
}

hr {
  border: 0;
  height: 1.1px;
  background: var(--Light-Grey);
}

body {
  background-color: var(--Eggshell);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  color: var(--Wenge-Brown);
}

.container {
  max-width: 700px;
  background-color: var(--White);
}
h1,
h3,
h4,
h5 {
  font-family: "Young Serif", serif;
}

h3,
h4,
h5 {
  color: var(--Nutmeg);
}

h2 {
  color: var(--Dark-Raspberry);
  font-family: "Outfit", sans-serif;
  font-size: 1.3rem;
}


.recipe-img{
    width: 100%;
}
section,
.Instructions,
.Nutrition {
  padding: 1rem 2rem;
}

h1 {
  font-size: 2rem;
  color: var(--Dark-Charcoal);
  padding-bottom: 1rem;
}

section .preparation-time {
  margin-top: 1.5rem;
  background-color: var(--Rose-White);
  padding: 0.8rem 1rem;
  border-radius: 10px;
}

section .preparation-time ul,
.ingredients ul {
  line-height: 1.9;
}

section .preparation-time ul li::marker,
.Instructions ol li::marker,
.ingredients ul li::marker {
  color: var(--Dark-Raspberry);
  font-weight: 600;
}

section .preparation-time ul li,
.ingredients ul li,
.Instructions ol li {
  padding-left: 1rem;
}

section .preparation-time span {
  font-weight: 600;
}

h3 {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.Instructions h4 {
  font-size: 1.3rem;
}

.Instructions ol li {
  margin-bottom: 1rem;
}

.Instructions ol li span {
  font-weight: 600;
}

.Nutrition {
  padding-bottom: 1.2rem;
}
.Nutrition h5 {
  font-size: 1.3rem;
}

.Nutrition p {
  margin: 1rem 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

table td {
  border-bottom: 1px solid var(--Light-Grey);
  padding: 10px;
}
table td:nth-of-type(1) {
  padding-left: 20px;
}

table td:nth-of-type(2) {
  color: var(--Nutmeg);
  font-weight: 700;
}

table tr:last-of-type td {
  border-bottom: none;
}

table tr {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

table tr:hover {
  background-color: var(--Rose-White);
}

footer {
  padding: 3rem 1rem 0.7rem 1rem;
}
.attribution {
  font-size: 0.8rem;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  font-style: oblique;
  border-radius: 30px;
  border-bottom: 1.4px solid var(--Dark-Raspberry);
  color: var(--Dark-Raspberry);
}

.attribution a:hover {
  color: var(--Nutmeg);
  border-bottom: 1.4px solid var(--Nutmeg);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 6rem 0 2rem 0;
    border-radius: 20px;
  }

  .recipe {
    padding: 2rem 2rem 0 2rem;
  }

  .recipe img {
    border-radius: 20px;
  }
}
