*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;  
}

ul li{
    list-style: none;

    a{
        text-decoration: none; 
        text-transform: uppercase;  
        font-size: 0.8rem; 
        color: $white; 
    }
} 
