.container{
    width: 90%;
    margin: 0 auto; 
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.flex-item{
    flex: 1;
}

.bg-primary { 
    background-color: $white; 
}

