@use 'base/reset';

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');







body {
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}