@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  color: var(--grayish-blue);
  background-color: var(--very-dark-blue);
  background-image: url("./images/bg-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fylo,
.range {
  width: 85vw;
}

.fylo {
  background-color: var(--dark-blue);
  padding: 2rem;
  border-radius: 10px 65px 10px 10px;
}

.logo img {
  width: 100px;
}

.images {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.document {
  width: 20px;
}

.folder {
  width: 25px;
}

.upload {
  width: 25px;
}

.images div {
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 5px;
  cursor: pointer;
}

.images div:hover img {
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

.range {
  background-color: var(--dark-blue);
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 10px;
  position: relative;
}

.used-range p {
  margin-bottom: 1rem;
  color: var(--grayish-blue);
}

.used-range span {
  display: inline-block;
  color: var(--pale-blue);
  font-weight: 700;
}

.range-container {
  display: flex;
  align-items: center;
  background: var(--very-dark-blue);
  border-radius: 20px;
  width: 100%;
  height: 25px;
  overflow: hidden;
  border: 1px solid var(--dark-blue);
}

.slider {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  height: 18px;
  background: var(--gradient);
  border-radius: 20px;
  cursor: pointer;
  margin-left: 0.16rem;
}

.thumb {
  width: 10px;
  height: 10px;
  background: var(--pale-blue);
  border-radius: 50%;
  margin-right: 0.3rem;
}

.values {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding-bottom: 1rem;
  color: var(--pale-blue);
  font-weight: 700;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: white;
  width: 150px;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 800;
  border-radius: 10px;
  color: var(--grayish-blue);
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

.range-text {
  margin-top: 0.3rem;
}
.range-number {
  font-weight: 700;
  font-size: 2rem;
  color: var(--very-dark-blue);
}

footer {
  margin-top: 5rem;
  font-size: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-style: oblique;
  text-decoration: none;
  border-radius: 20px;
  border-bottom: 2px solid var(--dark-blue);
}

.attribution a:hover {
  background-color: var(--dark-blue);
  padding: 0.5rem 0.8rem;
  border-bottom: 2px solid var(--pale-blue);
  font-weight: 700;
}

/* Media queries */

@media screen and (min-width: 768px) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    padding: 0 3rem;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-image: url("./images/bg-desktop.png");
    background-size: contain;
    background-position: bottom;
  }

  .fylo {
    width: 300px;
    padding: 3rem;
  }

  .logo img {
    width: 120px;
  }
  .range {
    width: 600px;
    padding: 2rem 3rem;
  }

  .left {
    bottom: 90%;
    left: 80%;
    border-radius: 10px 10px 0 10px;
  }

  .left::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -20%;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-right-color: white;
  }

  .used-range p,
  .values {
    font-size: 1.2rem;
  }

  .images div {
    width: 3rem;
    height: 3rem;
  }
}
