@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  color: var(--grayish-blue);
  background-color: var(--very-dark-blue);
  background-image: url("./images/bg-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fylo {
  background-color: var(--dark-blue);
  padding: 1.5rem;
  border-radius: 10px 65px 10px 10px;
}

.logo img {
  width: 100px;
}

.images {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.document {
  width: 15px;
}

.folder {
  width: 18px;
}

.upload {
  width: 20px;
}

.images div {
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 5px;
}

.range {
  background-color: var(--dark-blue);
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 10px;
  position: relative;
}

.used-range p {
  margin-bottom: 0.5rem;
  color: var(--grayish-blue);
}

.used-range span {
  color: var(--pale-blue);
  font-weight: 700;
}

.range-container {
  display: flex;
  align-items: center;
  background: var(--very-dark-blue);
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
}

.myslider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 30px;
  -webkit-transition: 0.2s;
  transition: background 450ms ease-in;
  background: var(--very-dark-blue);
  overflow: hidden;
  border: 1px solid var(--very-dark-blue);
  box-shadow: 2px 2px 5px var(--very-dark-blue);
  -webkit-box-shadow: 2px 2px 5px var(--very-dark-blue);
  -moz-box-shadow: 2px 2px 5px var(--very-dark-blue);
}

.myslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--pale-blue);
  cursor: pointer;
  box-shadow: 2px 8px 13px -3px var(--pale-blue);
  -webkit-box-shadow: 2px 8px 13px -3px var(--pale-blue);
  -moz-box-shadow: 2px 8px 13px -3px var(--pale-blue);
}

.values {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: var(--pale-blue);
  font-weight: 700;
}

.left {
  background-color: white;
  width: 200px;
  padding: 2rem;
  color: var(--grayish-blue);
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
