@media (min-width: 768px) {
  header {
    padding: 2rem;
    position: relative;

    .logo {
      width: auto;
    }

    nav {
      position: static;
      top: auto;
      right: auto;
      background-color: transparent;
      width: auto;
      padding: 0;
      min-height: auto;
      transition: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      animation: none;

      .overlay {
        display: none;
      }

      .auth {
        display: flex;
        flex-direction: row;
        font-size: 0.9rem;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        padding-block: 0;
        position: absolute;
        right: 0;

        button {
          width: 80px;
          margin: 0 2rem;
        }
      }

      ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 0.9rem;
        margin-right: 13rem;

        .menu-icon {
          display: none;
        }

        li {
          font-size: 0.9rem;
          padding: 0;

          .leftShift {
            right: 40%;
          }

          ul {
            top: 80%;
            width: auto;
            background-color: $almost-White;
            position: absolute;
            flex-direction: column;
            gap: 0.5rem;
            border-radius: 9px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
          }

          .drop {
            display: none;
          }
        }
      }
    }

    .menu-icons {
      img {
        display: none;
      }
    }
  }

  main {
    display: flex;
    gap: 2rem;
    flex-direction: row-reverse;
    padding-left: 3rem;
    padding-right: 3rem;

    .main-section-texts {
      text-align: left;
      justify-content: flex-start;
      text-align: left;
      flex: 1;

      h1 {
        margin-right: 5rem;
        margin-top: 6rem;
        font-size: 2.5rem;
      }
      p {
        font-size: 0.8rem;
        padding: 1.5rem 0;
      }

      button {
        margin-right: 14rem;
        width: 120px;
        padding: 0.7rem;
        font-size: 0.9rem;
      }

      .social-links {
        img {
          width: 60px;
        }
      }
    }

    picture {
      flex: 1;
    }
  }

  footer {
    .attribution {
      margin: 1rem;
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width: 912px) {
  header {
    nav {
      ul {
        gap: 2rem;
        margin-right: 20rem;

        li {
          .leftShift {
            right: 39%;
          }
        }
      }
    }
  }

  main {
    margin-right: 4rem;
    margin-left: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    nav {
      ul {
        margin-right: 25rem;

        li {
          .leftShift {
            right: 35%;
          }
        }
      }
    }
  }

  main {
    .main-section-texts {
      h1 {
        font-size: 2.78rem;
      }
      p {
        font-size: 1rem;
      }

      button {
        margin-right: 16rem;
      }
    }

    picture {
      img {
        width: 100%;
        height: 400px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  header {
    nav {
      ul {
        margin-right: 39rem;

        li {
          .leftShift {
            right: 30%;
          }
        }
      }
    }
  }

  main {
    gap: 5rem;
    .main-section-texts {
      h1 {
        font-size: 4.2rem;
      }
      p {
        font-size: 1.3rem;
      }

      button {
        margin-right: 26rem;
      }

      .social-links {
        img {
          width: 100px;
        }
      }
    }

    picture {
      img {
        width: 100%;
        height: 500px;
      }
    }
  }
}

@media (min-width: 1289px) {
  header {
    nav {
      .auth {
        font-size: 1rem;
        gap: 1rem;

        button {
          width: 100px;
        }
      }

      ul {
        gap: 3rem;
        font-size: 1rem;
        margin-right: 53rem;   

        li {
          font-size: 1rem;

          .leftShift {
            right: 27%;        
          }

          ul {
            gap: 1rem;
          }
        }
      }
    }
  }

  main {
    gap: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;  

    .main-section-texts {
      h1 {
        margin-right: 7.5rem;
        margin-top: 7.5rem;
        font-size: 4.5rem;
      }
      p {
        font-size: 1.5rem;
        padding: 3rem 0 3rem 0;
      }

      button {
        margin-right: 26rem;
        width: 180px;
        padding: 1rem;
        font-size: 1.3rem;
      }

      .social-links {
        margin-top: 6rem;
        img {
          width: 100px;
        }
      }
    }

    picture {
      img {
        width: 100%;
        height: 690px;   
      }
    }
  }

  footer {
    .attribution {
      margin: 2rem;
      font-size: 1.4rem;
    }
  }
}

@media screen and (width: 1440px) {
  header{
    nav{
      ul{
        margin-right: 47rem; 
        
        li{
          .leftShift{
            right: 28%;  
          }
        }
      }
    }
  }
  
}

