@media (min-width: 768px) {
    header {
        padding: 2rem;
        position: relative; 

        .logo {
        width: auto;
        }

        nav {
        position: static;
        top: auto;
        right: auto;
        background-color: transparent;
        width: auto;
        padding: 0;
        min-height: auto;
        transition: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        animation: none;

        .overlay {
            display: none;
        }

        .auth {
            display: flex;
            flex-direction: row;
            font-size: 1rem;
            gap: 1rem; 
            align-items: center;
            justify-content: center;
            padding-block: 0;
            position: absolute;
            right: 0;

            button {
            width: 100px; 
            margin:0 2rem 0 2rem; 
            }
        }

        ul { 
            display: flex;
            flex-direction: row;
            gap: 3rem;   
            font-size: 1rem;
            margin-right: 30rem;       

            .menu-icon {
            display: none;
            }

            li {
            font-size: 1rem;  
            padding:0;
            

            .leftShift {
             right: 38%;       
            }

            ul {
                top: 80%;
                width: auto;
                background-color: $almost-White;
                position: absolute;
                flex-direction: column;
                gap: 1rem; 
                border-radius: 9px;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;  
            }

            .drop {
                display: none;
            }  
            }
        }
        }

        .menu-icons {
        img {
            display: none;
        }
        }
    }

    main{
        display: flex;
        gap: 5rem; 
        flex-direction: row-reverse;
        padding-left: 3rem;
        padding-right: 3rem;    

        .main-section-texts{
            text-align:left;
            justify-content: flex-start;
            text-align: left; 
            flex: 1;  
            h1{   
                padding-right: 4rem;       
                margin-top: 0; 
                font-size: 4.5rem;          
            }
            p{  
                font-size: 1.3rem; 
                padding: 2rem 0 2rem 0; 
            }

            button{
                justify-content: left; 
                align-items: left; 
                text-align: left; 

            }

             
        }

        picture{
            flex: 1; 
        }
        
    }
}
