@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{
    /* Primary */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /* Neutral */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, p{
    margin: 0; 
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--Very-Light-Gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 0.9375rem;
}

header, main, footer{
   padding: 0 1.2rem;

}

header{
    padding-top: 4rem;  
}

header h1{
    color: var(--Grayish-Blue);
    font-size:1.4rem; 
    font-weight: 200;
}

header h2{
    color:var(--Very-Dark-Blue); 
    font-weight: 600;
}

header p{
    font-size: 0.9rem;
    color:var(--Grayish-Blue); 
    padding: 1rem 0;
}

main section{
    margin-top: 3rem; 
}

section .card{
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.5rem 1rem rgb(219, 233, 250);
}

section .card h3{
    color: var(--Very-Dark-Blue);
    font-weight: 600;
    padding-bottom: 0.5rem;
}

section .card p{
    font-size: 0.8rem;
    color: var(--Grayish-Blue);
    font-weight: 400;
} 