@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{
    /* Primary */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /* Neutral */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, p{
    margin: 0; 
    padding: 0;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--Very-Light-Gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 0.9375rem;
}

header, main, footer{
   padding: 0 1.9rem; 

}

header{
    padding-top: 4rem;  
}

header h1{
    color: var(--Grayish-Blue);
    font-size:1.40625rem; 
    font-weight: 200;
}

header h2{
    color:var(--Very-Dark-Blue); 
    font-weight: 600;
}

header p{
    font-size: 1rem;  
    color:var(--Grayish-Blue); 
    padding: 1rem 0;
}

main section{
    margin-top: 3rem; 
}

section .card{
    background-color: white;
    border-radius: 0.4rem;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.5rem 1rem rgb(219, 233, 250);
    cursor: pointer; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

section .card:hover{
transform: translateY(-10px);
}

section .card h3{
    color: var(--Very-Dark-Blue);
    font-weight: 600;
    padding-bottom: 0.5rem;
}

section .card p{
    font-size: 0.8rem;
    color: var(--Grayish-Blue);
    font-weight: 400;
}

section .card.cyan-border{
   border-top: 4px solid var(--Cyan);  
}

section .card.cyan-border:hover {
  box-shadow: 0 1rem 2rem rgba(0, 255, 255, 0.1);
}

section .card.red-border{
    border-top: 4px solid var(--Red);  
}

section .card.red-border:hover {
  box-shadow: 0 1rem 2rem rgba(255, 0, 0, 0.1);
}


section .card.orange-border{
    border-top: 4px solid var(--Orange);  
} 

section .card.orange-border:hover {
  box-shadow: 0 1rem 2rem rgba(255, 165, 0, 0.1);
}

section .card.blue-border{
    border-top: 4px solid var(--Blue);  
} 

section .card.blue-border:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 255, 0.1);
} 

section .card .image{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; 
}

section .card .image img{
    width: 50px;
    
}

section .card:hover .image img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

footer .attribution{
    font-size: 0.7rem;
    color: var(--Grayish-Blue);
    text-align: center;
    padding: 1rem;
}

footer .attribution a{
    color: var(--Very-Dark-Blue);
    font-weight: 400;
}

footer .attribution a:hover{
    color: var(--Grayish-Blue);
    font-weight:600 ;
} 

@media screen and (min-width: 768px){
    main section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        
    }
}