@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    /* primary */
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    /* neutral */
    --off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue:hsl(236, 13%, 42%);
    --very-dark-blue:  hsl(240, 100%, 5%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Inter', sans-serif;
font-size: .9375rem;
}