# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore
.vscode/
# Node modules
node_modules/
# Ignore npm debug log
npm-debug.log*

coverage/
*.cache

# Ignore yarn integrity file
.yarn-integrity

# Local configuration
config/local.json

# Ignore Sass cache
.sass-cache/

# Ignore compiled JavaScript
*.map