
@media screen and (min-width: 768px) {
 header{
    padding: 1.3rem 3rem;
    gap: 2rem;
    
    img{
        margin-top: 0.5rem;
        width: 110px; 
    }

    ul{
        li{
            margin-left: 1rem;   
            a{
                font-size: 1.2rem;  
            }
        }
    }
       
 }

 main{
    
        section:first-of-type{
            flex-direction: row;
            text-align: left;
            padding:4rem 2rem 3rem; 
            div{
                    h1{
                        font-size: 1.3rem;
                        line-height:1.4;
                    }
                    p{
                        font-size:1rem;
                    }
            

                    form { 
                    flex-direction: row;

                                div{
                                button{
                                        
                                    font-size: 1.2rem;    
                                    
                                } 

                            }


                                div{
                                input{
                                    font-size: 1.2rem;
                                }
                            }
                                
                   }  
                   
            }

     
        }
    section:nth-child(3){
        padding: 4rem 2rem; 
        display: flex; 
        flex-direction: row-reverse; 
        gap: 2rem; 
        justify-content: center; 
        align-items: center; 
        text-align: left; 
        div{
            
            h1{
                font-size: 1.5rem; 
                line-height: 1.4; 
                text-align: left;
            }
            p{
                font-size: 0.9rem; 
                color:$Very-Dark-Blue; 
            }

            .arrow-link{
                margin:1rem 0;

            }
        }
        
    }

    section:nth-child(4){
        padding: 4rem 2rem; 
        display: flex; 
        flex-direction: row; 
        gap: 2rem; 
        justify-content: center; 
        align-items: center; 
        text-align: left; 
        div{
            flex: 1;
            h1{
                font-size: 1.5rem; 
                line-height: 1.4; 
                text-align: left;
            }
            p{
                font-size: 1rem; 
                line-height: 1.5rem; 
            }

            .arrow-link{
                margin:1rem 0;


            }
        }

        form{
            flex: 1;
            button{
                width: 190px;
                
            }
        }
        
    }
   }

   footer{

    .footer-flex{ 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: top;  
    gap: 2rem; 
    text-align: left; 

    .footer-images{
        margin:0; 
        div{
            svg{
                width: 30px; 
                height: 30px; 
            }
        }
    }


    .footer-links{
        flex-direction: row; 
        gap: 3rem; 
        margin-top: 0; 
        p{
            font-size: 1rem; 
        }
    }

    
   }
} 
    
}

@media screen and (min-width: 1024px){
    main{
        section:first-of-type{
            div{
                h1{
                    font-size: 1.7rem; 
                }
            }
        }
    }
        
}

@media screen and (min-width: 1280px){
    header{
        padding: 1.3rem 5rem;
    }
    main{
        section:first-of-type{
            padding: 4rem 5rem 3rem;
            div{
                h1{
                    font-size: 2.3rem;  
                }

                p{
                    font-size: 1.1rem; 
                }
            }

            form{
                
                div{
                    
                    button{
                        width: 200px;   
                        
                    }

                    
                }

                div{
                    width: 100%;
                    input{
                        width: 100%;   
                        
                    }
                }
            }
        }

        section:nth-child(3){
            padding: 4rem 5rem;
            div {
                flex: 1;
                        
                    h1 {
                        font-size: 2rem;
                    }
            
                    p {
                        font-size: 1.2rem;
                    }

                    .arrow-link{
                        width: 215px;
                    }
            
                    .card{
                        padding:2rem;
                         margin-right: 5rem;
                         
                         
                        p{
                            font-size: 1.2rem; 
                            line-height: 1.5rem;
                            font-weight: normal;
                            
                        }

                        .ceo-info{
                            img{
                                width: 50px;
                            }

                            .ceo-names{
                                h1{
                                    font-size: 1.2rem;
                                }

                                span{
                                    font-size: 0.9rem;
                                }
                            }
                        }
                    }
                }
        }

        section:nth-child(4){
            padding: 4rem 5rem;
            gap: 8rem;
            
            div{
                h1{
                    font-size: 2rem; 
                }
            }

            form{
                button{
                    width: 300px;
                }
            }
        }


    }

    footer{
        padding-left: 5rem;
        padding-right: 5rem;

        .footer-flex{
            .footer-links{
                gap: 8rem;
            }
        }
    }
        
}

@media screen and (min-width: 1440px){
    main{
        section:first-of-type{
            div{
                h1{
                    font-size: 2.8rem;
                }
                p{
                    font-size: 1.4rem;
                }
            }
        }

        section:nth-child(3){
            gap: 3rem;
            .second-illustration{
                padding-top: 0;
                img{
                    width: 100%;
                    padding-top: 0;
                    margin-top: -6rem;  
                }

            }

                
            div{
                .card{
                    margin-right: 9rem;
                }

            }
        }

        section:nth-child(4){
            div{
                h1{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.25rem;
                }
            }
        }

    }
}