/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root{
  /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* font sizes */
    --fs-900:  9.375rem; /* 150px */
    --fs-800:  6.25rem; /* 100px */
    --fs-700: 3.5rem; /* 56px */
    --fs-600: 2rem; /* 16px */
    --fs-500: 1.75rem; /* 28px */
    --fs-400: 1.125rem; /* 18px */
    --fs-300: 1rem; /* 16px */
    --fs-200: 0.875rem; /* 14px */

    /* font family */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;




}



/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p { 
  font-weight: 400; 
}

/* Body set up */
body {
  color: hsl( var(--clr-white)); 
  background: hsl( var(--clr-dark)); 
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  min-height: 100vh;
  line-height: 1.5;
}

/* reset for images */

img,
picture {
  display: block;
  max-width: 100%;
}

/* Reset for form elements */
input,
select,
textarea,
button {
  font: inherit;
}

/* animation preferences reset */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* --------------------- */
/* Ultility  classes     */
/* --------------------- */

/* general */

.flex{
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
   gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem); 
}

.container {
    padding-inline: 2em; /* adds padding to the left and right only */
    max-width: 80rem;
    margin-inline: auto; /* center the container */ 
}


/* screen-reader only settings */
.sr-only { 
    position: absolute;
    clip: rect(0, 0, 0, 0);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap; 
    margin: -1px;
}

/* background colors */
.bg-dark { background-color: hsl( var(--clr-dark));}
.bg-accent { background-color: hsl( var(--clr-light));}
.bg-white { background-color: hsl( var(--clr-white));}

/* text colors */
.dark-texts { color: hsl( var(--clr-dark));}
.accent-texts { color: hsl( var(--clr-light));}
.white-texts { color: hsl( var(--clr-white));}

/* typography */
.ff-serif { font-family: var(--ff-serif);}
.ff-sans-cond { font-family: var(--ff-sans-cond);}
.ff-sans-normal { font-family: var(--ff-sans-normal);}

/* letter spacing */
.letter-spacing-1 { letter-spacing: 4.75px;}
.letter-spacing-2 { letter-spacing: 2.7px;}
.letter-spacing-3 { letter-spacing: 2.35px;}

.uppercase { text-transform: uppercase;}

/* font sizes */
.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

/* heading font line heights */
.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title{
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span{
  margin-right: .5em;
  font-weight: 700;
  color: hsl(var(--clr-white) / .25);
}

/* ------------------- */
/* Components   */
/* ------------------- */

.large-button{
  position: relative;
  display: inline-grid; 
  z-index: 1;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  text-decoration: none; 
  aspect-ratio: 1;
}

.large-button::after{
  content: "";
  position:absolute;
  z-index: -1; 
  width: 100%;  
  height: 100%;
  background: hsl(var(--clr-white) / .15); 
  border-radius: inherit;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;  
}

.large-button:hover::after,
.large-button:focus::after{
  transform: scale(1.5); 
  opacity: 1;
}

.primary-navigation{
  --gap: 8rem;
  --underline-gap: 2rem; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary-navigation a{
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: .5em; 
}

.underline-indicators > *{
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  cursor: pointer;
 border-bottom: .2rem solid hsl( var(--clr-white) / 0);
}

.underline-indicators > *:hover,
.underline-indicators > *:focus{
  border-color: hsl( var(--clr-white) / .5);

}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"]{
  color: hsl( var(--clr-white) / 1);
  border-color: hsl( var(--clr-white) / 1);
}

.tab-list{
  --gap: 2.5rem;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: .5em;
  background: hsl( var(--clr-white) / .25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus{
  background: hsl( var(--clr-white) / .5);
}

.dot-indicators > [aria-selected="true"]{
  background-color: hsl( var(--clr-white) / 1);
}

.number-indicators > * { 
  cursor: pointer;
  aspect-ratio: 1;
  padding: 0;    
  border-radius: 50%;  
}