
footer{
background-color: $Very-Dark-Blue;  
padding: 3rem 2rem; 

svg:nth-child(1){
    margin-bottom: 2rem;         
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
}