footer{
    .footer-images {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 3rem;
    
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 1.5px solid white;
                padding: 0.6rem;
    
                svg {
                    width: 20px;
                    height: 20px;
                    fill: white;   
                    
                }

                

            &:hover, svg:hover{
                fill: $Bright-Blue;  
                border-color:$Bright-Blue;   

            }       
                        transition: border-color 0.4s ease-in-out,
                        fill 0.2s ease-in-out;
                
            }

                    
        }
}  