@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    /* Primary colors */
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    /* background-gradient */
    --Soft-violet:hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%); 

    /* Neutral colors */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    /* Dividers */
    --Light-grayish-blue: hsl(240, 5%, 91%);

    /* footer links */
    --footer-link: hsl(228, 45%, 44%);

    /* font size */
    --fs: 12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;  
    min-height:100vh ;
    background-image: linear-gradient(to bottom, var(--Soft-violet), var(--Soft-blue)); 
    padding: 2rem 1rem;    
}
main{
    margin: 2rem auto;
    width: 100%;   

}

img{
    max-width: 100%;
    display: block; 
}

.desktop-images{
    display: none; 
}

.container{
    background-color: white;  
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    border-radius: 10px; 
    max-width: 400px;           
}

.bg-paterns img{
    max-width: 310px; 
    width: 210px;    
}

.shadow-img{
    position: relative; 
}

.mock-up{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 

}

.card{
    padding: 2rem 1rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.card-body-item{
    border-bottom: 1.5px solid var(--Light-grayish-blue); 
}

h2{
    font-size: 0.9rem;  
    color: var(--Dark-grayish-blue); 
    padding-block: 1rem;  
    display: flex; 
    align-items: center;
    justify-content: space-between;
    cursor: pointer; 
    gap: 1rem; 
}

p{   
    font-size: var(--fs);   
    padding-bottom: 1rem;
    color: var(--Dark-grayish-blue); 
    display: none;       
}

.card-body-item img.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.card-body-item p.visible {
  display: block; 
  transition: display 0.3s ease-in-out;
}

.card-body-item h2.clicked{
    color:var(--Very-dark-desaturated-blue);  

}

 .card-body-item h2:hover,
.card-body-item h2:focus {
  color: var(--Soft-red);
  transition: color 0.3s ease-in-out;
}   



.attribution { 
    margin-top: 1rem; 
    font-size: 12px;  
    text-align: center; 
    color: var(--Very-dark-desaturated-blue);
}
    .attribution a {
         color: var(--Very-dark-desaturated-blue); 
         
}

@media screen and (min-width: 768px){

    
    .desktop-images{
    display: block;  
     }

     


    .container{ 
        flex-direction: row; 
        width: 700px;   
        max-width: 800px;         
        padding: 2rem;   
    }

    img.mock-up{
         display:none; 
    }

    .bg-paterns, .card{
        width: 50%; 
    }
    

}

@media screen and (min-width: 1024px){
    .container{   
        max-width: 900px; 
        max-height: 300%;   
        padding: 2rem;   
    }
}
    
