@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    /* Primary colors */
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    /* background-gradient */
    --Soft-violet:hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%); 

    /* Neutral colors */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    /* Dividers */
    --Light-grayish-blue: hsl(240, 5%, 91%);

    /* footer links */
    --footer-link: hsl(228, 45%, 44%);

    /* font size */
    --fs: 12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;  
    min-height:100vh ;
    background-image: linear-gradient(to bottom, var(--Soft-violet), var(--Soft-blue));
    padding: 2rem 0.9rem;   
}
main{
    margin: 2rem auto;
    width: 100%;   

}

img{
    max-width: 100%;
    display: block; 
}

.container{
    background-color: white;  
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border-radius: 10px; 
}

.bg-paterns img{
    width: 210px;    
}

.shadow-img{
    position: relative; 
}

.mock-up{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 

}

.card{
    padding: 2rem 0.8rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

h2{
    font-size: 0.8rem; 
    color: var(--Dark-grayish-blue); 
    padding-block: 1rem;  
    border-bottom: 1.5px solid var(--Light-grayish-blue);

    display: flex; 
    align-items: center;
    justify-content: space-between;
}

p{   
    font-size: var(--fs);   
    padding-block: 1rem;
    color: var(--Dark-grayish-blue);    
}


.attribution { 
    font-size: 11px; 
    text-align: center; }
    .attribution a {
         color: var(--footer-link); 
        }