@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root{
    /* primary */
    --Blue: hsl(223, 87%, 63%); 

  /* secondary */
  --Pale-Blue: hsl(223, 100%, 88%);
   --Light-Red: hsl(354, 100%, 66%);

  /* neutral */
  --Very-Dark-Blue: hsl(209, 33%, 12%);
  --Gray: hsl(0, 0%, 59%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block; 
}

body{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    color: var(--Very-Dark-Blue);
    background-color: white; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button { 
    background-color: var(--Blue);
    color: white;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

