@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root{
    /* primary */
    --Blue: hsl(223, 87%, 63%); 

  /* secondary */
  --Pale-Blue: hsl(223, 100%, 88%);
   --Light-Red: hsl(354, 100%, 66%);

  /* neutral */
  --Very-Dark-Blue: hsl(209, 33%, 12%);
  --Gray: hsl(0, 0%, 59%);
}