@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

:root {
  /* Dark-mode */
  --Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);

  /* Light-mode */
  --Very-dark-blue-light-mode-text: hsl(200, 15%, 8%);
  --Dark-gray-light-mode-input: hsl(0, 0%, 52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --White-Light-Mode-Elements-dark-mode-text: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 0.875rem;
}

header nav {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--White-Light-Mode-Elements-dark-mode-text);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header nav h1 {
  font-size: 1rem;
}

header nav div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
header nav img {
  width: 20px;
}

.search {
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 2rem 1rem;
  max-width: 90vw;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--White-Light-Mode-Elements-dark-mode-text);
}

.search-bar img {
  width: 20px;
}

.search-bar input {
  width: 100%;
  padding: 0 1.2rem;
  border: none;
  outline: none;
  color: var(--Dark-gray-light-mode-input);
}

.filters {
  display: flex;
  flex-direction: column;
}
.filter-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 0.7rem 1.4rem 1.4rem 1rem;
  max-width: 230px;
  background-color: var(--White-Light-Mode-Elements-dark-mode-text);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  position: relative;
}

.filter-search p {
  color: var(--Very-dark-blue-light-mode-text);
  font-weight: 600;
}

.filter-search img {
  width: 15px;
}

.filter-options {
  display: none;
  position: absolute;
  margin-left: 1rem;
  background-color: var(--White-Light-Mode-Elements-dark-mode-text);
  border-radius: 5px;
  width: 230px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  left: 0;
  margin-top: 4.5rem;
}

.filter-options ul {
  width: 100%;
}
.filter-options ul li {
  padding: 0.5rem 0 0.5rem 1.5rem;
  color: var(--Very-dark-blue-light-mode-text);
  font-weight: 600;
}

.filter-options ul li:last-child {
  padding-bottom: 1rem;
}

.filter-options ul li:first-child {
  padding-top: 1rem;
}

.filter-options ul li:hover {
  background-color: var(--Very-Light-Gray-Light-Mode-Background);
  cursor: pointer;
}

.countries{
  padding: 2rem;
}
.country-card{
  background-color: var(--White-Light-Mode-Elements-dark-mode-text);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 200px;
}

.country-card img {
  border-radius: 5px 5px 0 0;
  width: 100%; 
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  header nav {
    padding: 1.5rem 4rem;
  }
  header nav h1 {
    font-size: 1.5rem;
  }
}
