@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

:root {
  /* Dark-mode */
  --filter-color: hsl(209, 23%, 22%);
  --card-p-color: hsl(207, 26%, 17%);

  /* Light-mode */
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
  --background-color: hsl(0, 0%, 98%);
  --card-bg: hsl(0, 0%, 100%);
  --filter-color: hsl(0, 0%, 100%);
}

.dark-mode{
--background-color: hsl(207, 26%, 17%);
--text-color: hsl(0, 0%, 100%); 
--card-bg: hsl(209, 23%, 22%);
--input-color: hsl(0, 0%, 100%);
--card-p-color: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 0.875rem;
  background-color: var(--background-color);
}

header nav {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--card-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header nav h1 {
  font-size: 1rem;
  color: var(--text-color);
}

header nav div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

header nav p{
  color: var(--input-color);
}
header nav img {
  width: 20px;
  cursor: pointer;
}


.search {
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 2rem 1rem;
  max-width: 90vw;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--card-bg);
}

.search-bar img {
  width: 20px;
}

.search-bar input {
  width: 100%;
  padding: 0 1.2rem;
  border: none;
  outline: none;
  color: var(--input-color);
  background-color: var(--card-bg);
}

.search-bar input::placeholder {
  color: var(--input-color);
}

.filters {
  display: flex;
  flex-direction: column;
}

.filter-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 0.7rem 1.4rem 1.4rem 1rem;
  max-width: 230px;
  background-color: var(--card-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  position: relative;
}

.filter-search p {
  color: var(--text-color); 
  font-weight: 600;
}

.filter-search img {
  width: 15px;
}

.dark-mode .filter-search img{
  filter: invert(1);
}

.filter-options {
  display: block;
  position: absolute;
  margin-left: 1rem;
  background-color: var(--card-bg);
  border-radius: 5px;
  width: 230px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 4.3rem;
}

.filter-options ul {
  width: 100%;
}
.filter-options ul li {
  padding: 0.5rem 0 0.5rem 1.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.filter-options ul li:last-child {
  padding-bottom: 1rem;
}

.filter-options ul li:first-child {
  padding-top: 1rem;
}

.filter-options ul li:hover {
  background-color: var(--background-color);
  cursor: pointer;
}

.countries{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem 4rem 2rem;
}
.country-card{
  margin: 1rem;
  background-color: var(--card-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 300px;
  border-radius: 0 0 5px 5px;
}

.country-card img {
  border-radius: 5px 5px 0 0;
  width: 100%; 
  object-fit: cover;
}

.country-info{
  padding:  1.5rem ;
}

.country-info h2{
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
  color: var(--text-color);
}

.country-info p{
  font-size: 1rem;
  margin-top: 0.5rem;
  color: var(--card-p-color); 
}
.country-info p span{
  font-weight: 600;
  color: var(--text-color);

}



@media screen and (min-width: 768px) {
  header nav {
    padding: 1.5rem 4rem;
  }
  header nav h1 {
    font-size: 1.5rem;
  }
}
