:root {
  /* Primary  */
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);

  /* Gradients */
  --from1: hsl(0, 0%, 100%);
  --to1: hsl(0, 100%, 98%);

  --from2: hsl(0, 80%, 86%);
  --to2: hsl(0, 74%, 74%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(135deg, var(--from1), var(--to1));
}

img {
  max-width: 100%;
}

header {
  padding: 1rem 1rem 1rem 1.2rem;
}

header img {
  width: 90px;
}

.banner-image {
  width: 100%;
}
.banner-image img {
  width: 100%;
}

.texts {
  padding: 2rem;
  text-align: center;
  color: var(--Desaturated-Red);
}

.texts h1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.4rem;
}

.texts h1 span {
  font-weight: 600;
  color: black;
}

.texts p {
  padding: 1rem 0;
}

form{
    margin-top: 1rem;  
  position: relative;
  display: inline-block;
}

form input {
  border-radius: 20px;
  padding: 7px 20px; 
  outline: none;
  border: 1px solid var(--Desaturated-Red);
  background-color: transparent; 
   width: 100%; 
}

form input::placeholder {
  color: var(--Desaturated-Red); 
  font-size: 0.8rem; 
  font-weight: 200;
}

form button {
  border-radius: 30px;
  border: transparent;
  padding: 9px 18px; 
  background: linear-gradient(135deg, var(--from2), var(--to2)); 
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -2px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px rgba(219, 175, 175, 0.5);  
}

form button img {
  width: 8px;
}
.attribution {
    color: var(--Desaturated-Red);
  font-size: 0.8rem;
  text-align: center;
  margin: 1rem ; 
  padding: 0 2rem;  
}
.attribution a {
  color:var(--Desaturated-Red); 
}
