@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  /* Primary  */
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);

  /* Gradients */
  --from1: hsl(0, 0%, 100%);
  --to1: hsl(0, 100%, 98%);

  --from2: hsl(0, 80%, 86%);
  --to2: hsl(0, 74%, 74%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, var(--from1), var(--to1));
}

img {
  max-width: 100%;
}

.logo {
  padding: 1rem 1rem 1rem 1.2rem;
}

.deskop-logo {
  display: none;
}

.logo img {
  width: 90px;
}

.banner-image {
  width: 100%;
}
.banner-image img {
  width: 100%;
}

.texts {
  padding: 2rem 1.2rem;
  text-align: center;
  color: var(--Desaturated-Red);
}

.texts h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.4rem;
}

.texts h1 span {
  font-weight: 600;
  color: black;
}

.texts p {
  padding: 1rem 0;
  line-height: 1.5;
}

form {
    display: flex;
  align-items: center;
  margin-top: 1rem;
  position: relative;
  display: inline-block;
  width: 100%;
}

form input {
  border-radius: 20px;
  padding: 10px 20px;
  outline: none;
  border: 1px solid var(--Desaturated-Red);
  background-color: transparent;
  width: 100%;
  position: relative;
}

form input::placeholder {
  color: var(--Desaturated-Red);
  font-size: 0.95rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

input:focus {
  border: 1px solid var(--Soft-Red);
} 

form button {
  border-radius: 30px;
  border: transparent;
  padding: 12px 28px; 
  background: linear-gradient(135deg, var(--from2), var(--to2));
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -2px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px rgba(219, 175, 175, 0.5);
  transition: all 0.3s ease-in-out;
}

form button:hover {
  background: linear-gradient(135deg, var(--from2), var(--from2));
  box-shadow: 0 10px 10px rgba(219, 175, 175, 0.5);
  transform: translateX(10px) translateY(-50%);
}

form button img {
  width: 8px;
}

#error-text {
    position: absolute; 
    font-size: 0.9rem;   
    color: var(--Soft-Red); 
} 
.active{
    border: 2px solid var(--Soft-Red);  
}

input.errorImg {
  background-image: url('./images/icon-error.svg');
  background-repeat: no-repeat;
  background-position: right 26% center;   
} 
.attribution {
  color: var(--Desaturated-Red);
  font-size: 0.8rem;
  text-align: center;
  margin: 1rem;
  padding: 1rem  2rem;
}
.attribution a {
  color: var(--Desaturated-Red);
}

@media (min-width: 768px) {
  body {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: contain;
  }

  main {
    position: relative;
  }
  main section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .logo {
    display: none;
  }
  .deskop-logo{
    display: block;
    margin: 3rem 0 7rem 0;  

  }

  .banner-image {
    width: 40%;
  }

  .banner-image img{
    object-fit: cover;
    height:100vh;
    width: 100%; 
  }

  .texts {
    padding: 2rem 4rem; 
    width: 60%;
    text-align: left;
  }

  .texts h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.4rem;
  }

  footer{
    position: absolute;
    bottom: 0;
    left: 1%;
  }
}

@media screen and (min-width: 1024px) {
    .texts{
        padding: 2rem 10rem;
    }

    .texts h1{
        font-size: 4rem;
        letter-spacing: 0.9rem;
    }

  
form input {
  border-radius: 40px;
  padding: 18px 20px;
}

  form input::placeholder{
    font-size: 1rem;
  }

  form button{
    /* top: 30%;  */
    padding: 20px 45px;
    
  }

  form button img{
    width: 10px;
  }

   footer{
    left: 13%;
  } 
}

@media screen and (min-width: 1440px) {

    .texts{
        padding: 2rem 15rem;
    }

    .texts h1{
        font-size: 5rem;
        letter-spacing: 1.2rem;
    }
}
