@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  /* Primary colors */
  --linear-gradient: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --button-color: hsl(237, 63%, 64%);
  --second-card: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

  /* Neutral colors */
  --Very-light-grayish-blue: hsl(240, 78%, 98%);
  --Light-grayish-blue: hsl(234, 14%, 74%);
  --Grayish-blue: hsl(233, 13%, 49%);
  --Dark-grayish-blue: hsl(232, 13%, 33%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: var(--Very-light-grayish-blue);
  font-size: 0.9375rem;
  background-image: url(./images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: top  left 7rem;
    background-size: contain;
    padding: 0 1rem; 
}

header,
main,
footer {
  width: 90%;
}

ul li {
  font-size: 0.7rem;
  padding-block: 0.5rem;
  list-style: none;
  color: var(--Grayish-blue);
  border-top: 1.2px solid var(--Light-grayish-blue);
}

ul li:last-child {
  border-bottom: 1.2px solid var(--Light-grayish-blue);
}

header {
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}

h1 {
  margin-bottom: 1.25rem;
  color: var(--Grayish-blue);
}

header span {
  color: var(--Light-grayish-blue);
}

.toggle {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.toggle p {
  color: var(--Light-grayish-blue);
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 3.75rem;
  height: 1.875rem;
  background: var(--linear-gradient);
  border-radius: 0.9375rem;
  /* margin: 0 0.625rem; */
  padding: 0 0.2rem;
  margin: 0 1rem;
}

.switch-toggle {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--Very-light-grayish-blue);
  border-radius: 50%;
  transition: all 0.3s;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .switch-container .switch-toggle {
  transform: translateX(calc(34px));
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0.625rem;
  padding: 2rem;
  margin-top: 1rem;
  box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.1);
}

.card:nth-child(2) {
  background: var(--second-card);
  color: var(--Very-light-grayish-blue);
}

.card:nth-child(2) h2 {
  color: white;
}

.card:nth-child(2) .price {
  color: var(--Very-light-grayish-blue);
}

.card:nth-child(2) button {
  color: var(--button-color);
  background: var(--Very-light-grayish-blue);
}

.card:nth-child(2) ul li {
  color: var(--Very-light-grayish-blue);
  border-top: 1.2px solid var(--Light-grayish-blue);
}

.card ul {
  width: 100%;
}

.card h2 {
  color: var(--Grayish-blue);
  font-weight: 700;
  font-size: 0.7rem;
}

button {
  width: 100%;
  padding: 0.625rem 0;
  border-radius: 0.3125rem;
  border: transparent;
  color: var(--Very-light-grayish-blue);
  background: var(--linear-gradient);
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1.25rem;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
  margin: 1rem 0;
  color: var(--Dark-grayish-blue);
  font-weight: 700;
}

.price .amount {
  font-size: 2.5rem;
}

.price .dollar-sign {
  font-size: 1.5rem;
}
