@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
    /* Primary colors */
--linear-gradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

/* Neutral colors */
--Very-light-grayish-blue: hsl(240, 78%, 98%);
--Light-grayish-blue: hsl(234, 14%, 74%);
--Grayish-blue: hsl(233, 13%, 49%);
--Dark-grayish-blue: hsl(232, 13%, 33%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--Very-light-grayish-blue);
    font-size: 0.95rem;
}

header {
    margin-top: 2rem;
  text-align: center;
   
}

h1 {
  margin-bottom: 1.25rem;
  color: var(--Grayish-blue); 
}

header span{
    color: var(--Light-grayish-blue);
}

header, main{
    width: 90%; 
}
.toggle {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.toggle p {
     
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 3.75rem;
  height: 1.875rem;
  background: var(--linear-gradient); 
  border-radius: 0.9375rem;
  /* margin: 0 0.625rem; */
  padding: 0 0.2rem;
}

.switch-toggle {
  content: '';
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--Very-light-grayish-blue); 
  border-radius: 50%;
 transition: all 0.3s;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .switch-container .switch-toggle {
  transform: translateX(calc(30px));  
}

