@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  /* Primary colors */
  --linear-gradient: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --button-color: hsl(237, 63%, 64%);
  --second-card: linear-gradient(
    to bottom,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );

  /* Neutral colors */
  --Very-light-grayish-blue: hsl(240, 78%, 98%);
  --Light-grayish-blue: hsl(234, 14%, 74%);
  --Grayish-blue: hsl(233, 13%, 49%);
  --Dark-grayish-blue: hsl(232, 13%, 33%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: var(--Very-light-grayish-blue);
  font-size: 0.9375rem;
  background-image: url("images/bg-top.svg"), url("images/bg-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 80%, 26.5%;
  background-position: top 0 right -10rem, bottom -4.7rem left -1.9rem;
}

header,
main,
footer {
  width: 90%;
}

section {
  margin-top: 4rem;
}

ul li {
  font-size: 0.7rem;
  padding-block: 0.5rem;
  list-style: none;
  color: var(--Grayish-blue);
  border-top: 1.2px solid rgba(188, 188, 194, 0.5);
}

ul li:last-child {
  border-bottom: 1.2px solid rgba(188, 188, 194, 0.5);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}

h1 {
  margin-bottom: 1.25rem;
  color: var(--Grayish-blue);
}

header span {
  color: var(--Light-grayish-blue);
}

.toggle {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.toggle p {
  color: var(--Light-grayish-blue);
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 3.75rem;
  height: 1.875rem;
  background: var(--linear-gradient);
  border-radius: 0.9375rem;
  padding: 0 0.2rem;
  margin: 0 1rem;
}

.switch-toggle {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--Very-light-grayish-blue);
  border-radius: 50%;
  transition: all 0.3s;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .switch-container .switch-toggle {
  transform: translateX(calc(34px));
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0.625rem;
  padding: 2rem;
  margin-top: 1rem;
  box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.1);
}

.card:nth-child(2) {
  background: var(--second-card);
  color: var(--Very-light-grayish-blue);
}

.card:nth-child(2) h2 {
  color: white;
}

.card:nth-child(2) .price {
  color: var(--Very-light-grayish-blue);
}

.card:nth-child(2) button {
  color: var(--button-color);
  background: var(--Very-light-grayish-blue);
}

.card:nth-child(2) button:hover {
  border: 2px groove var(--Very-light-grayish-blue);
  background: transparent;
  color: var(--Very-light-grayish-blue);
}
.card:nth-child(2) ul li {
  color: var(--Very-light-grayish-blue);
  border-top: 1.2px solid var(--Light-grayish-blue);
}

.card ul {
  width: 100%;
}

.card h2 {
  color: var(--Grayish-blue);
  font-weight: 700;
  font-size: 0.7rem;
}

button {
  width: 100%;
  padding: 0.625rem 0.5rem;
  border-radius: 0.3125rem;
  border: transparent;
  color: var(--Very-light-grayish-blue);
  background: var(--linear-gradient);
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1.25rem;
  transition: all 0.3s ease-in-out;
}

button:active {
  transform: scale(0.95);
}

button:hover {
  border: 2px groove var(--Very-light-grayish-blue);
  background: transparent;
  color: var(--button-color);
}
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
  margin: 1rem 0;
  color: var(--Dark-grayish-blue);
  font-weight: 700;
}

.price .amount {
  font-size: 2.5rem;
}

.price .dollar-sign {
  font-size: 1.5rem;
}

footer {
  margin-top: 3rem;
  padding: 0 2rem 1rem 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("images/bg-top.svg"), url("images/bg-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 26.5%, 26.5%;
    background-position: top 0 right -1rem, bottom -4.7rem left -1.9rem;
  }

  h1{
    margin-bottom: 2.6rem;
  }

  .card h2{
    font-size: 1rem;
  }

  header{
    margin-bottom: 2rem;
  }

  section {
    display: flex;
    justify-content: center;
  }
  
  ul {
    height: 20rem; 
  }

  ul li{
    font-size: 1rem;
    padding-block: 0.8rem;
  }

  .card {
    width: 20rem;
    height: 23rem;
  }

  .card:nth-child(2) {
     transform: scaleY(1.25); 
  }
.card:first-child {
    border-radius:0.625rem 0 0 0.625rem;
    transform: scaleY(1.1);
  }

  .card:nth-of-type(3) {
    border-radius:0 0.625rem 0.625rem 0;
    transform: scaleY(1.1);
  }
}
