/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}

/* Body set up */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* reset for images */

img,
picture {
  display: block;
  max-width: 100%;
}

/* Reset for form elements */
input,
select,
textarea,
button {
  font: inherit;
}

/* animation preferences reset */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* --------------------- */
/* Ultility                 */
/* --------------------- */

.flex{
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
   gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em; /* adds padding to the left and right only */
    max-width: 80rem;
    margin-inline: auto; /* center the container */ 
}


/* screen-reader only settings */
.sr-only { 
    position: absolute;
    clip: rect(0, 0, 0, 0);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap; 
    margin: -1px;
}