:root {
  /* primary */
  --Yellow: hsl(47, 88%, 63%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
}

@font-face {
  font-family: "FigTreeExtraBold";
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "FigTreeSemiBold";
  src: url("./assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "FigTreeSemiBold", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: var(--Yellow);
}

img {
  max-width: 100%;
}

section {
  margin-top: 5rem;
  width: 300px;
  max-width: 500px;
  background-color: var(--White);
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--Grey);
}
.card-header img {
  border-radius: 8px;
}

article {
  padding-top: 1rem;
}

button{
    background-color: var(--Yellow);
    color: var(--Black);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-family: "FigTreeExtraBold", sans-serif;
    cursor: pointer;
    display: block;
    margin-bottom: 1rem;
}

small{
    display: block;
    padding-bottom: 1rem;
}

h1{
    color: var(--Black);
    font-size: 1.2rem;
    font-family: "FigTreeExtraBold", sans-serif;
    padding-bottom: 1rem;
}

p{
    color: var(--Grey);
    font-size: 0.9rem;
    font-family: "FigTreeSemiBold", sans-serif;
    padding-bottom: 1rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
