:root{
    /* primary */
    --Marine-blue: hsl(213, 96%, 18%);
    --Purpish-blue: hsl(243, 100%, 62%);

    /* Neutral */
    --Cool-grey: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);

    /* font-sizes */
    --fss: 0.5rem;
    --fs1: 1rem;
    --fs2: 2rem;
    --fs3: 3rem;
    --fs4: 4rem;
}


@font-face {
    font-family:Ubuntu-Bold;
    src: url(./assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: Ubuntu-Medium;
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family:Ubuntu-Regular;
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

*, *::before, *::after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Ubuntu-Regular;
    font-size: var(--fs1);
    background-color: var(--Light-gray);
}

h1, h2, h3, h4, h5, h6{
    font-size:var(--fs2);
    font-family: Ubuntu-Bold;
}

section{
    background-color: var(--White);
    display: flex;
    flex-direction: column;
}

.sidebar{
    background: url(./assets/images/bg-sidebar-mobile.svg) no-repeat;
    background-color: var(--Purpish-blue);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: var(--fs3);
}

.circle{
    padding: var(--fs1);
    border: 1px solid var(--White);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--Alabaster);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 4rem;;
}

.circle:hover{
    background-color: var(--Magnolia);
    color: var(--Marine-blue);

}
.Info, .Plan, .Adds, .summary{
    display: none;
}

form{
    margin: -4.6rem auto 2rem auto;
    width: 90vw;
    background-color: var(--White);
    border-radius: .625rem;
    padding: 2rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}