$Very-Dark-Blue: hsl(243, 87%, 12%);
$header-bg: rgba(255, 255, 255, 0.4);    
$Desaturated-Blue: hsl(238, 22%, 44%);
$Bright-Blue: hsl(224, 93%, 58%);
$Moderate-Cyan: hsl(170, 45%, 43%);
$Light-Grayish-Blue: hsl(240, 75%, 98%);
$paragraph: hsl(249, 8%, 53%);
$Light-Gray: hsl(0, 0%, 75%);
$bg-color: hsl(250, 75%, 98%); 
$btn-hover: hsl(221, 100%, 71%); 
$arrow-link-hover: hsl(171, 60%, 83%);
