footer{
    background-color: $Very-Dark-Blue;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;     

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
}