footer{
    background-color: $Very-Dark-Blue;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .footer-links{
       padding: 2rem 0;
       
       ul{
        li{
            padding: 1rem 0; 
        }
       }
    }
    .social-links{
        display: flex;
        gap: 1rem;   
    }
.attribution { 
    font-size: 11px; text-align: center; 
}
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
}