footer{
    .attribution {
            font-size:0.8rem;  
            line-height: 1.2rem;    
            text-align: center;
            padding: 1rem  2rem; 
            color: $mediumGray;          
        }


        .attribution a {
            color: $mediumGray;   
            text-decoration: none;
        }
     
        .attribution a:hover {
            color: $footer-links;
            font-weight: 700;  
        }
}