header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $almost-White;
  color: $mediumGray;
  align-items: center;
  padding: 1rem;

  .logo {
    width: 50px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: $almost-White;
    width: 60%;
    padding: 4rem 2rem 2rem 2rem;
    min-height: 100vh;
    transition: opacity 0.3s ease-in-out;
    display: none;
    animation: fadeIn 0.4s ease;

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 40%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      transition: opacity 0.5s ease;
    }

    .auth {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 1rem;
      align-items: center;
      justify-content: center;
      padding-block: 2rem;

      a {
        color: $mediumGray;

        &:hover,
        &:active,
        &:focus {
          color: $almostBlack;
        }
      }

      button {
        background-color: $almost-White;
        border-radius: 8px;
        width: 100%;
        outline: none;
        border: 2px ridge $button-colr;
        padding: 0.5rem;
        color: currentColor;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: border-color 0.2s ease, color 0.5s ease;
        cursor: pointer;

        &:hover {
          border-color: $almostBlack;
          color: $almostBlack;
          box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.7);
        }

        &:active {
          transform: translateY(2px);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 1rem;

        

        .menu-close-icon {
          width: 20px;  
          cursor: pointer;
          position: absolute;
          top: 1rem;
          right: 1rem;
        }
    

      li {
        font-size: 1rem;

        img {
          margin-left: 0.5rem;
        }

        a {
          color: $mediumGray;

          &:hover,
          &:active,
          &:focus {
            color: $almostBlack;
          }
        }

        ul {
          padding: 1rem;

          li {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            transition: color 0.5s ease;
            cursor: pointer;

            &:hover,
            &:active,
            &:focus {
              color: $almostBlack;
            }
          }
        }

        .drop {
          display: none;
        }
      }
    }
  }

  .menu-icons {
    img {
      width: 20px;
      cursor: pointer;
    }
  }
}
 