
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: $almost-White;
        color: $mediumGray;
        position: relative;       

        .logo{
            width: 50px;  
        }

        #hide { 
            display: none;    
        } 

        nav{ 
            position: absolute;
            top: 0;  
            right: 0;   
            background-color: $almost-White;
            width: 60%;  
            padding: 4rem 2rem 2rem 2rem;     
            transition: transform 0.3s ease;
            height: 100vh;
            
            .overlay{
                position: fixed; 
                top: 0;
                left: 0;
                width: 40%;
                height: 100vh; 
                background-color: rgba(0, 0, 0, 0.5);
                transition: transform 0.8s ease;
                                    
                
            }

            .auth{
                display: flex;
                flex-direction: column;
                gap: 1rem; 
                font-size: 1rem;
                align-items:center; 
                justify-content: center;
                padding-block: 2rem;   
                a{
                    color: $mediumGray; 
                }

                button{ 
                    background-color: $almost-White; 
                    border-radius: 8px;  
                    width: 100%;        
                    outline: none; 
                    border: 2px ridge $button-colr;  
                    padding: 0.5rem;    
                    color: currentColor; 
                    font-weight: 600;  
                    display: flex; 
                    flex-direction: row;  
                    align-items: center; 
                    justify-content: center;   
                }  
            }
             ul{
                display: flex; 
                flex-direction: column; 
                gap: 1rem;  
                font-size: 1rem;  
                li{
                    img{
                        margin-left: 0.5rem; 
                    }
                    a{
                        text-decoration: none; 
                        color: $mediumGray;  
                    }

                
                    ul{
                        background-color: $almost-White; 
                        padding-block: 1rem; 
                        display: flex;
                        flex-direction: column; 
                        gap: 1rem; 
                        display: none;
                        
                        

                        
                        li{
                             font-size: 1rem; 

                             img{
                                margin-right: 0.5rem; 
                             }

                        }
                        
                    }

                    
                }
                
                
             } 

            
        }

        .menu-icons{
            cursor: pointer;
            position: relative; 
            z-index: 2;
            transition: all 0.3s ease-out;

            img{
                width: 20px;     
            }

            .menu-close-icon {
                top: 0;
                left: 0;
                     
            }

            .menu-open-icon{ 
                top: 0;
                left: 0;
            }
        }
        
    } 

